.tech-stack {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 20px 0;
  height: 200px;
  overflow: hidden;
}
.tech-stack.expanded {
  height: auto;
}
.tech-stack-icon-container {
  width: 19%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 3px 1px 3px;
  border-radius: 5px;
  //   border: 1px solid #000000;
  //   box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.tech-stack-icon {
  width: 30px !important;
  height: 30px !important;
  display: inline !important;
}
.position-relative {
  position: relative;
}
.tech-stack-expand-button {
  background: none;
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  background: linear-gradient(to bottom, #ffffff00, #00000090);
  z-index: 100;
}
